name: Deploy Lab 2 - App Service

on:
  push:
    paths:
      - 'BicepLabs/02-AppService/**'
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy-app:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Create Resource Group
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az group create --name toy-app-rg --location westus3

      - name: Deploy Bicep Template
        uses: azure/arm-deploy@v1
        with:
          resourceGroupName: toy-app-rg
          template: ./BicepLabs/02-AppService/main.bicep
          parameters: location=westus3
          failOnStdErr: false
