name: Destroy Lab 2 - App Service

on: 
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  destroy-app:
    runs-on: ubuntu-latest
    steps:
      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Delete Resource Group
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az group delete --name toy-app-rg --yes --no-wait
            echo "Nuke command sent for toy-app-rg."
