name: Destroy Lab 4 - Front Door

# Trigger: Manual button click only for safety
on: 
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  destroy-azure-resources:
    runs-on: ubuntu-latest
    steps:
      # 1. Logging in to Azure (Robot needs permission for DELETE)
      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # 2. Delete the Resource Group
      # --yes: Doesnt ask for confirmation 
      # --no-wait: Doesnt make github wait 20 mins for cleanup to finish
      - name: Delete Resource Group
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az group delete --name toyfactory --yes --no-wait
            echo "Destruction command sent. Resource Group 'toyfactory' is being deleted in the background."
